.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 52px;
}

.description {
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  margin-bottom: 20px;
}

.input {
  font-size: inherit;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #969494;
  background-color: #494949;
}

.form__button {
  font-size: inherit;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.time__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.time__box:nth-child(-n + 3)::after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: -10px;
}

.time__number {
  font-size: 52px;
  font-weight: 700;
}
.time__name {
  font-size: 16px;
}
